.containerUser{
    background-color: white;
    width: auto; 
    height: auto;
    max-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin:10% 20px;
    
}
.contPerfil{
    display: flex;
    justify-content: center;
}

h3.namePerfil{
    font-size: 15pt;

}
.iconBsArrowRepeat{
    margin: 26px 10px;
}
.iconBsArrowRepeat:hover{
    color: green;
}

.contButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.button{
    background-color: #0e83f1; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.b1:hover{
    background-color: #3b05ff; 
    color: rgb(255, 253, 253); 
}

.b2{
    background-color: white; 
    color: black; 
    border: 2px solid #fd4545;
}

.b2:hover{
    background-color: #fd4545; 
    color: rgb(255, 255, 255); 
}

.b3{
    background-color: #fce35a;
    color: rgb(255, 255, 255); 
}

.b3:hover{
    background-color: #fddf31; 
    color: rgb(255, 253, 253); 
}

img.user{
    padding: 35px 50px;
    border-radius: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: rgb(145, 145, 145);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: 20px 2px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.contIcon{
    margin-left: 5px;
    justify-content: center;
    display: flex;
}