.containerList{
    padding: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20pt;
    color: rgb(255, 174, 0);
    text-align: start !important;
    font-weight: bold;
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 10pt;
    color: rgb(80, 80, 80);
}

.priority{
    color: #3b05ff;
}

.normaly{
    color: rgb(255, 174, 0);
}