.container{
    display: flex;
    width: 700px; 
    height: auto;
    max-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin:10% 20px;
}

hr{
    border-left: 5px solid rgb(240, 240, 240);
    margin:20px;
    border-radius: 5px;
}